<div class="topbar">
  <nav class="navbar-custom d-flex align-items-center justify-content-between">
    <ti-omni-search></ti-omni-search>
    <div>
      <div ngbDropdown placement="bottom-right" class="d-inline-block">
        <i class="fa fa-user-o" ngbDropdownToggle aria-hidden="true"></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a href="account" class="dropdown-item">My Account</a>
          <a href="logout" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>
