$weed-green: #000000;

.navbar {
  border-bottom: 1px solid black;
}

.search {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;

}

.logo {
  width: 200px;
}

.user {
  font-size: 25px;
  color: #4dbca1;
}

i {
  font-size: 31px;
  cursor: pointer;
}

.navbar-custom {
  background-color: white;

  article {
    flex-grow: 1;
  }
}

.topbar-left {
  background-color: black;
}

.fa-bars {
  color: black;

}

.small-logo {
  .fa-bars {
    color: white;
    margin-left: 5px;
  }
}
