<div class="row">
    <div class="col-md-6">
        <div class="card-box">
            <p class="card-title">
                Job Email Alert
                <a class="btn btn-primary float-right">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    Add alert
                </a>
            </p>
            <ti-alert
                [status]="alert.info"
                message="There alerts set up yet"
                [showAlert]="true">
            </ti-alert>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-box"> 
            <p class="card-title">
                Tooling Email Alert
                <a class="btn btn-primary float-right">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    Add alert
                </a>
            </p>
            <ti-alert
                [status]="alert.info"
                message="There alerts set up yet"
                [showAlert]="true">
            </ti-alert>
        </div>
    </div>
</div>