article {
    width: 400px;
    margin: auto;

    input { 
        margin-left: -150px;
    }
    
    @media(max-width: 835px) {
        width: 251px;
    }
    @media(max-width: 709px) {
        display: none !important;
    }
}

input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}