<div class="search-wrapper">
    <article>
        <input class="form-control col-12" placeholder="Search">
        <div class="d-flex">
            <button
                role="button" 
                class="btn btn-outline-primary" 
                [ngClass]="searchTypeClass('tools')" 
                routerLink="/tools" 
                [queryParams]="{skip:defaultToolSkip, take:defaultToolTake}"
                routerLinkActive="active">
                    Tools
            </button>
            <button
                role="button" 
                class="btn btn-outline-primary" 
                [ngClass]="searchTypeClass('jobs')"
                routerLink="/jobs" 
                [queryParams]="{skip:defaultJobSkip, take:defaultJobTake}"
                routerLinkActive="active">
                    Jobs
            </button>
            <button
                role="button" 
                class="btn btn-outline-primary" 
                [ngClass]="searchTypeClass('operators')" 
                routerLink="/operators" 
                [queryParams]="{skip:defaultOperatorSkip, take:defaultOperatorTake}"
                routerLinkActive="active">
                    Operators
            </button>
        </div>
    </article>
    <aside>
        <button 
            type="submit" 
            role="button" 
            class="btn btn-outline-success">
                <i aria-hidden="true" class="fa fa-search"></i>
                Search
        </button>
    </aside>
</div>
