<div class="row">
    <div class="col-md-7">
        <plant-detail [plantDetail]="plantDetail$ | async"></plant-detail>
        <plant-expenses [plantNumber]="plantNumber$ | async"></plant-expenses>
    </div>
    <div class="col-md-5">
        <div class="card-box transactions">
            <div class="stopper">
                <div class="container">
                    <div class="isa_warning">
                        <i class="fa fa-warning d-inline-block mr-auto"></i>
                        Come back for something awesome!
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-between">
                    <p class="card-title">
                        <span class="fa fa-info mr-2"></span>Plant Transactions
                    </p>
                    <div>
                        <button class="btn btn-outline-primary pull-right mr-2">
                            <i class="fa fa-print mr-2" aria-hidden="true"></i>Print
                        </button>
                        <button class="btn btn-outline-primary pull-right mr-2">
                            <i class="fa fa-share mr-2" aria-hidden="true"></i>Email
                        </button>
                        <button class="btn btn-outline-primary pull-right mr-2">
                            <i class="fa fa-download mr-2" aria-hidden="true"></i>Download
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped mt-4">
                            <thead>
                                <th>Receiver</th>
                                <th>Shipper</th>
                                <th>Cost</th>
                                <th>Date</th>
                                <th></th>
                            </thead>
                            <tbody>
   
    
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bill's Medical Dispensary</td>
                                    <td>Andrew Smith</td>
                                    <td>$650.00</td>
                                    <td>2/18/18</td>
                                    <td>
                                        <button class="btn btn-default">
                                            View
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addExpenseRef let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Job</h4>
        <div class="alert alert-success" *ngIf="jobSuccessfullyAdded" role="alert">
            <strong>Job Saved</strong>
        </div>
        <button type="button" (click)="closeModal()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <label for="">Name</label>
                <input class="form-control col-12">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="">Expense</label>
                <input class="form-control col-12">
            </div>
        </div>
    </div>
</ng-template>