<form [formGroup]="weekFormGroup" (ngSubmit)="addWeek()">
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Height</label>
    <input class="form-control" formControlName="height">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Light Schedule</label>
    <input class="form-control" formControlName="lightSchedule">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Day Air Temperature</label>
    <input class="form-control" formControlName="dayAirTemperature">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Night Air Temperature</label>
    <input class="form-control" formControlName="nightAirTemperature">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Ph</label>
    <input class="form-control" formControlName="ph">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Air Humidity</label>
    <input class="form-control" formControlName="airHumidity">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Smell</label>
    <input class="form-control" formControlName="smell">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Soil Temperature</label>
    <input class="form-control" formControlName="soilTemperature">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="mr-3">Lamp to plant distance</label>
    <input class="form-control" formControlName="lampToPlantDistance">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
