<div class="row">
    <div class="col">
        <div class="card-box">
             <ti-loading [isLoading]="isToolsLoading$ | async"></ti-loading>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button class="btn btn-outline-primary mb-2 pull-right" (click)="addTool()">
                            <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Strain
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="!(tools$ | async)?.length === false">
                    <table class="table table-striped ti-table">
                        <thead class="ti-table-header">
                            <tr>
                                <th>Strain Name</th>
                                <th>Qty</th>
                                <th>Ideal Amount</th>
                                <th>Strain Price</th>
                                <th>Qty Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tool of tools$ | async">
                                <td>{{ tool.toolName | empty }}</td>
                                <td>{{ tool.qty | empty }}</td>
                                <td>{{ tool.idealAmount | empty }}</td>
                                <td>{{ tool.toolCost | currency:'USD':true | empty }}</td>
                                <td>
                                    <ti-tool-qty-status [toolQty]="tool.qty" [idealToolQty]="tool.idealAmount">
                                    </ti-tool-qty-status>
                                </td>
                                <th scope="row">
                                    <button 
                                        class="btn btn-outline-danger pull-right" 
                                        mwlConfirmationPopover
                                        [title]="title"
                                        [message]="getConfirmationMessage(tool.toolName)"
                                        placement="left"
                                        (confirm)="removeTool(tool)"
                                        (cancel)="cancelClicked = true">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                    <ti-checkout-tool [tool]="tool" [skip]="skip" [take]="take"></ti-checkout-tool>
                                    <button 
                                        class="btn btn-outline-primary pull-right mr-2" 
                                        (click)="openUpdateToolModal(tool._id)">
                                            <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Edit
                                    </button>
                                    <ti-add-tool-qty [tool]="tool"></ti-add-tool-qty>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <button (click)="nextPage()" class="btn btn-outline-primary next pull-right" [disabled]="!(moreTools$ | async)">
                                            Next Page
                                    </button>
                            <button (click)="previousPage()" class="btn btn-outline-primary pull-right mr-2" [disabled]="!(hasPreviousTools$ | async)">
                                        Previous Page
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <ti-alert
                [status]="alert.info"
                message="There are no strains"
                [showAlert]="!hasTools"
                [isLoading]="isToolsLoading$ | async">
            </ti-alert>
            <ng-template #updateToolRef let-c="close" let-d="dismiss">
                <ti-update-tool [activeTool]="activeTool$" (closeUpdateModal)="closeUpdateToolModal($event)" (isLoading)="isTiUpdateToolLoading($event)"
                    [skip]="skip" [take]="take">
                </ti-update-tool>
            </ng-template>
            <ng-template #addToolRef let-c="close" let-d="dismiss">
                <add-tool (closeAddToolModal)="closeAddToolModal($event)" (isAddToolLoading)="setIsAddToolLoading($event)" [skip]="skip"
                    [take]="take">
                </add-tool>
            </ng-template>
        </div>
    </div>
</div>