<form [formGroup]="receiverFormGroup" class="add-product" (ngSubmit)="addProduct()">
    <div class="form-group">
        <label>State License Number</label>
        <input class="form-control" formControlName="stateLicenseNumber">
    </div>
    <div class="form-group">
        <label>Type of License</label>
        <input class="form-control" formControlName="typeOfLicense">
    </div>
    <div class="form-group">
        <label>Business Name</label>
        <input class="form-control" formControlName="businessName">
    </div>
    <div class="form-group">
        <label>Business Address</label>
        <input class="form-control" formControlName="businessAddress">
    </div>
    <div class="form-group">
        <label>Business City</label>
        <input class="form-control" formControlName="businessCity">
    </div>
    <div class="form-group">
        <label>Business State</label>
        <input class="form-control" formControlName="businessState">
    </div>
    <div class="form-group">
        <label>Business Zip</label>
        <input class="form-control" formControlName="businessZip">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input class="form-control" formControlName="phoneNumber">
    </div>
    <div class="form-group">
        <label>Contact Name</label>
        <input class="form-control" formControlName="contactName">
    </div>
    <div class="container">
        <div class="alert alert-success alert-white rounded" *ngIf="false">
            <i class="fa fa-check"></i>
            <strong>Success!</strong> Your product has been added!
        </div>
    </div>
    <button [disabled]="receiverFormGroup.invalid" class="btn btn-primary pull-right" type="submit">
        <!-- <i class='fa fa-spinner fa-spin ' *ngIf="isAddReceiverLoading"></i> -->
        Add Product
    </button>
</form>