<div class="row">
  <div class="col-xl-12">
    <h3>{{ details?.plantName }} - # {{ details?.plantNumber }}</h3>
    <ti-job-status-chip [jobStatus]="details?.plantStatus">
    </ti-job-status-chip>
    <p class="mt-2">Device id: {{ details?.deviceId }}</p>
    <div class="d-flex mt-2">
      <room-type [type]="details?.roomType"></room-type>
      <medium [type]="details?.medium" class="ml-2"></medium>
    </div>
    <img [src]="profileImage" class="img-fluid">
    <file-upload class="d-flex" (fileChange)="saveProfileImage($event)"></file-upload>
  </div>
  <div class="col-xl-12">
    <h4 class="header-title">Description</h4>
    <div class="d-flex">
      {{ details?.plantDescription }}
    </div>
  </div>
</div>
