<div class="row">
    <div class="col">
        <div class="card-box">
            <ti-loading [isLoading]="isJobsLoading$ | async"></ti-loading>            
            <div class="row mt-3">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" (click)="addJob()">Add Job</button>        
                </div>
            </div>
            <div class="row" *ngIf="!isJobNotFound">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row" *ngIf="!(jobs$ | async)?.length === false">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th [hidden]="!displayOptions.companyName">Company Name</th>
                                            <th [hidden]="!displayOptions.contactName">Contact Name</th>
                                            <th [hidden]="!displayOptions.jobPhone">Phone</th>
                                            <th [hidden]="!displayOptions.jobEmail">Email</th>
                                            <th [hidden]="!displayOptions.jobName">Job Name</th>
                                            <th [hidden]="!displayOptions.jobNumber">Job Number</th>
                                            <th [hidden]="!displayOptions.jobDescription">Job Description</th>
                                            <th [hidden]="!displayOptions.jobStatus">Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let job of jobs$ | async" >
                                            <td [hidden]="!displayOptions.companyName">{{ job.companyName | empty }}</td>
                                            <td [hidden]="!displayOptions.contactName">{{ job.contactName | empty }}</td>
                                            <td [hidden]="!displayOptions.jobPhone">{{ job.contactPhoneNumber | empty }}</td>
                                            <td [hidden]="!displayOptions.jobEmail">{{ job.contactEmail | empty }}</td>
                                            <td [hidden]="!displayOptions.jobName">{{ job.jobName | empty }}</td>
                                            <td [hidden]="!displayOptions.jobNumber">{{ job.jobNumber | empty }}</td>
                                            <td [hidden]="!displayOptions.jobDescription">{{ job.jobDescription | empty }}</td>
                                            <td [hidden]="!displayOptions.jobStatus">{{ job.jobStatus | jobStatusNumberToTitle | empty }}</td>
                                            <td>
                                                <button class="btn btn-danger pull-right" (click)="removeJob(job)">Remove</button>
                                                <button class="btn btn-primary" (click)="openUpdateJobModal(job._id)">Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button (click)="previousPage()" *ngIf="(jobsSkip$ | async) !== 0" class="btn btn-info mr-auto" [disabled]="isLoading">
                                            Previous Page
                                    </button>
                                        <button (click)="nextPage()" *ngIf="moreJobs$ | async" class="btn btn-info ml-auto next" [disabled]="isLoading">
                                            Next Page
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3" *ngIf="(jobs$ | async)?.length==0">
                        <div class="alert alert-info" role="alert">
                        <strong>No Jobs Found</strong>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #updateJobRef let-c="close" let-d="dismiss">
                <ti-update-job 
                    [activeJob]="activeJob$" 
                    (closeUpdateModal)="closeUpdateJobModal($event)" 
                    (isLoading)="isTiUpdateJobLoading($event)"
                    [skip]="skip" 
                    [take]="take">
                </ti-update-job>
            </ng-template>
            <ng-template #addJobRef let-c="close" let-d="dismiss">
                <add-job 
                    (closeAddJobModal)="closeAddJobModal($event)" 
                    [skip]="skip" 
                    [take]="take">
                </add-job>
            </ng-template>
        </div>
    </div>
</div>