<div class="card-box">
  <i class='fa fa-spinner fa-spin float-right ti-spin' *ngIf="isPlantDetailLoading"></i>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p class="card-title">
        <span class="fa fa-info mr-2"></span>Plant Details
      </p>
      <div>
        <button class="btn btn-outline-primary pull-right mr-2" (click)="openUpdatePlantModal(plantDetail._id)">
          <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Edit
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5">
      <img class="mr-3 img-profile img-fluid" [src]="plantProfileImageSource" (error)="setDefaultPlantProfileImage($event)">
      <file-upload (fileChange)="saveProfileImage($event)"></file-upload>

    </div>
    <div class="col-xl-7">
      <p>
        <strong>Plant Name:</strong> {{ plantDetail?.plantName | empty }}
      </p>
      <p>
        <strong>Plant Number:</strong> {{ plantDetail?.plantNumber | empty }}
      </p>
      <p>
        <strong>Plant Status:</strong> {{ plantDetail?.plantStatus | jobStatusNumberToTitle | empty }}
      </p>
      <p>
        <strong>Plant Description:</strong> {{ plantDetail?.plantDescription | empty }}
      </p>
      <div class="d-flex">
        <room-type [type]="plantDetail?.roomType"></room-type>
        <medium [type]="plantDetail?.medium" class="ml-2"></medium>
      </div>
    </div>
  </div>
</div>

<ng-template #updatePlantRef let-c="close" let-d="dismiss">
  <update-plant [activePlant]="plantDetail" (closeUpdateModal)="closeUpdatePlantModal($event)">
  </update-plant>
</ng-template>
