.placeholder {
  width: 200px;
  height: 200px;
}

.img-profile {
  width: 100%;
}

.delete-image {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.profile-wrapper:hover .delete-image {
  display: block !important;
}
