extends ./layout
block variables
    - var body_class = 'road-map'

block content
  .row
    .col-md-3
      .road-map-header
        <i class="fa fa-search" aria-hidden="true"></i>
        h2.h1 Search
      .road-map-label
        h2.h1 Spring 2018
    .col-md-3
      .road-map-header
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        h2.h1 Reporting
      .road-map-label 
        h2.h1 Summer 2018
    .col-md-3
      .road-map-header
        <i class="fa fa-plug" aria-hidden="true"></i>
        h2.h1 Connection
      .road-map-label
        h2.h1 Fall 2018
    .col-md-3
      .road-map-header
        <i class="fa fa-cog" aria-hidden="true"></i>
        h2.h1 Cabinets
      .road-map-label 
        h2.h1 Winter 2018





    
