<!--<div 
  class="side-nav"
  [ngClass]="{'open': isSideBarOpen}">
     <img src="./assets/long-logo.png" [hidden]="!isSideBarOpen" class="img-responsive side-nav-logo">
     <img src="./assets/small-logo.png" [hidden]="isSideBarOpen" class="img-responsive side-nav-logo-small">
    <div class="row">
      <ul class="nav-links">
        <li>
          <ti-side-nav-link
            [isSideBarOpen]="isSideBarOpen"
            linkText="My Account"
            linkPath="/account"
            [isExternalLink]="true"
            iconClass="fa fa-cog">
          </ti-side-nav-link>
        </li>
        <li class="active-link">
          <ti-side-nav-link
            [isSideBarOpen]="isSideBarOpen"
            [linkText]="'Jobs'"
            [linkPath]="'/jobs'"
            [isExternalLink]="false"
            iconClass="fa fa-tasks">
          </ti-side-nav-link>
        </li>
        <li>
          <ti-side-nav-link
            [isSideBarOpen]="isSideBarOpen"
            [linkText]="'Tools'"
            [linkPath]="'/tools'"
            [isExternalLink]="false"
            iconClass="fa fa-wrench">
          </ti-side-nav-link>
        </li>
        <li>
          <ti-side-nav-link
            [isSideBarOpen]="isSideBarOpen"
            [linkText]="'Operators'"
            [linkPath]="'/operators'"
            [isExternalLink]="false"
            iconClass="fa fa-male">
          </ti-side-nav-link>
        </li>
        <li>
          <ti-side-nav-link
            [isSideBarOpen]="isSideBarOpen"
            [linkText]="'Login'"
            [linkPath]="'/login'"
            [isExternalLink]="false">
          </ti-side-nav-link>
        </li>
      </ul>
    </div>
</div>-->
                <div class="slimScrollDiv" style="position: relative; overflow: inherit; width: auto; height: 1155px;"><div class="sidebar-inner slimscrollleft" style="overflow: inherit; width: auto; height: 1155px;">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Navigation</li>
                            <li class="has_sub">
                                <a routerLink = "/dashboard" routerLinkActive="active" class="waves-effect"><i class="zmdi zmdi-truck"></i><span>Dashboard </span> </a>
                            </li>
                            <li class="has_sub">
                                <a routerLink = "/jobs" routerLinkActive="active" class="waves-effect"><span class="label label-pill label-primary float-right">18</span><i class="zmdi zmdi-truck"></i><span> Jobs </span> </a>
                            </li>

                            <li class="has_sub">
                                <a routerLink = "/tools" routerLinkActive="active" class="waves-effect"><i class="zmdi zmdi-money-box"></i><span> Tools </span> </a>
                            </li>

                            <li class="has_sub">
                                <a routerLink = "/operators" routerLinkActive="active" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i><span> Operators </span> </a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div><div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1155px; visibility: hidden;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>

            