<div class="left side-menu">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 299px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 299px;">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/products" [queryParams]="{skip:defaultToolSkip, take:defaultToolTake}" class="waves-effect" routerLinkActive="active"><i class="fa fa-plug" aria-hidden="true"></i><span> Weed </span> </a>
                </li>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/employees" [queryParams]="{skip:defaultOperatorSkip, take:defaultOperatorTake}" class="waves-effect" routerLinkActive="active"><i class="fa fa-user-circle" aria-hidden="true"></i><span> Employees </span> </a>
                </li>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/kanban" class="waves-effect" routerLinkActive="active"><i class="fa fa-desktop" aria-hidden="true"></i><span> Kanban </span> </a>
                </li>
                <li class="has_sub">
                    <a routerLink="/jobs" class="waves-effect" routerLinkActive="active"><i class="fa fa-cogs" aria-hidden="true"></i><span> Jobs </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div><div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 137.329px; visibility: visible;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>