.side-nav {
  position: absolute;
  padding: 10px;
  height: 100%;
  top: 0;
  bottom: 0;
  border-right: 1px solid black;
  z-index: 1;
  &.open {
    width: 250px;
    .nav-links {
      text-align: left;
      margin-left: 25px;
    }
  }
  .nav-btn {
    font-size: 40px;
    cursor: pointer;
  }
  .nav-links {
    margin-top: 20px;
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 100%;
    li {
      list-style: none;
      position: relative;
      white-space: nowrap;
      height: 50px;
      &.active-link {
        background-color: #43bea1;
      }
    }
  }
  .side-nav-logo {
    width: 220px;
  }
  .side-nav-logo-small {
    width: 38px;
  }
}