<div class="left side-menu">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 299px;"><div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 299px;">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub">
                    <a routerLink="/plants" [queryParams]="{skip: skip$ | async, take: take$ | async }" class="waves-effect" routerLinkActive="active"><i class="fa fa-pagelines" aria-hidden="true"></i><span> Plants </span> </a>
                </li>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/status" class="waves-effect" routerLinkActive="active"><i class="fa fa-calendar-check-o" aria-hidden="true"></i><span> Status </span> </a>
                </li>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/sales-invoice" class="waves-effect" routerLinkActive="active"><i class="fa fa-handshake-o" aria-hidden="true"></i><span>Sell Product</span> </a>
                </li>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/employees" [queryParams]="{skip:defaultOperatorSkip, take:defaultOperatorTake}" class="waves-effect" routerLinkActive="active"><i class="fa fa-truck" aria-hidden="true"></i><span>Shippers </span> </a>
                </li>
                <li class="has_sub" routerLinkActive="active">
                    <a routerLink="/receivers" [queryParams]="{skip:defaultOperatorSkip, take:defaultOperatorTake}" class="waves-effect" routerLinkActive="active"><i class="fa fa-balance-scale" aria-hidden="true"></i><span>Receivers </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div><div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 137.329px; visibility: visible;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>