<table class="table table-striped ti-table mb-0" *ngIf="checkouts.toolNames">
    <thead class="ti-table-header">
        <tr>
            <th>Tool Name</th>
            <th>Cost</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let checkout of checkouts.toolNames; let i = index" >
            <td>{{checkout}}</td>
            <td>{{ checkouts.toolCost[i] }}</td>
            <td>{{ checkouts.qty[i] }}</td>
        </tr>
        <tr>
            <td>
                <strong>Total</strong>
            </td>
            <td><strong>{{ checkouts.combineCost }}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>
