
.alert-success {
  background-color: lighten($success,45%);
  border-color: $success;
  color: $success;

  .alert-link {
    color: darken($success,5%);
  }
}

.alert-info {
  background-color: lighten($info,30%);
  border-color: $info;
  color: $info;

  .alert-link {
    color: darken($info,5%);
  }
}

.alert-warning {
  background-color: lighten($warning,30%);
  border-color: $warning;
  color: $warning;

  .alert-link {
    color: darken($warning,5%);
  }
}

.alert-danger {
  background-color: lighten($danger,30%);
  border-color: $danger;
  color: $danger;

  .alert-link {
    color: darken($danger,5%);
  }
}

.alert-link {
  font-weight: 500;
}

.alert-white {
  margin: 0;
  padding: 7px;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}