<div class="row">
    <div class="col">
        <div class="card-box">
            <loading [isLoading]="isReceiversLoading$ | async"></loading>
            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-end">
                    <button class="btn btn-outline-primary mb-2 pull-right" (click)="addReceiver()">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add receiver
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="!(receivers$ | async)?.length === false">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>State license #</th>
                                    <th>Type of license</th>
                                    <th>Business name</th>
                                    <th>Business address</th>
                                    <th>Business city</th>
                                    <th>Business state</th>
                                    <th>Business zip</th>
                                    <th>Business phone</th>
                                    <th>Contact name</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let receiver of receivers$ | async">
                                    <td>{{ receiver.stateLicenseNumber | empty }}</td>
                                    <td>{{ receiver.typeOfLicense | empty }}</td>
                                    <td>{{ receiver.businessName | empty }}</td>
                                    <td>{{ receiver.businessAddress | empty }}</td>
                                    <td>{{ receiver.businessCity | empty }}</td>
                                    <td>{{ receiver.businessState | empty }}</td>
                                    <td>{{ receiver.businessZip | empty }}</td>
                                    <td>{{ receiver.phoneNumber | empty }}</td>
                                    <td>{{ receiver.contactName | empty }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-danger pull-right" mwlConfirmationPopover title="Are you sure?" placement="left" (confirm)="removeReceiver(receiver)"
                                            (cancel)="cancelClicked = true">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                        <button (click)="openUpdateReceiverModal(receiver)" class="btn btn-outline-primary pull-right mr-2">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <button (click)="nextPage()" class="btn btn-outline-primary next pull-right" [disabled]="!(hasMoreReceivers$ | async)">
                                Next Page
                            </button>
                            <button (click)="previousPage()" class="btn btn-outline-primary pull-right mr-2" [disabled]="!(hasPreviousReceivers$ | async)">
                                Previous Page
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ti-alert [status]="alert.info" message="There are no products" [showAlert]="false" [isLoading]="isReceiversLoading$ | async">
            </ti-alert>
            <ng-template #updateProductRef let-c="close" let-d="dismiss">
                <div class="container mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mt-3">Update {{ title }}</h3>
                            <update-receiver [parentFormGroup]="receiverFormGroup"></update-receiver>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #addReceiverRef let-c="close" let-d="dismiss">
                <div class="container mb-3">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mt-3">Add {{ title }}</h3>
                            <add-receiver></add-receiver>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>