<form [formGroup]="toolFormGroup" #ToolForm="ngForm" class="add-Tool" (ngSubmit)="addTool(toolFormGroup)">
    <div class="modal-header">
        <h4 class="modal-title">Add Tool</h4>
        <div class="alert alert-success" *ngIf="toolsuccessfullyAdded" role="alert">
            <strong>Tool Saved</strong>
        </div>
        <button type="button" (click)="closeModal()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Tool Name</label>
                <input class="form-control" formControlName="toolName">
            </div>

            <div class="form-group col-md-6">
                <label>Qty</label>
                <input class="form-control" formControlName="qty">
            </div>

            <div class="form-group col-md-6">
                <label>Ideal Amount</label>
                <input class="form-control" formControlName="idealAmount">
            </div>

            <div class="form-group col-md-6">
                <label>Auto Order Qty</label>
                <input class="form-control" formControlName="autoOrderQty">
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="toolFormGroup.invalid" class="btn btn-primary pull-right" type="submit">Add Tool</button>
    </div>
</form>