<div class="card-box">
    <div class="row">
        <div class="col d-flex justify-content-between">
            <p class="card-title">
                <span class="fa fa-sticky-note mr-2"></span>Notes</p>
            <button class="btn btn-outline-primary" (click)="openAddNoteModal()">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes$ | async">
                        <td>
                            {{ note.name }}
                            <button mwlConfirmationPopover [title]="title" placement="left" (confirm)="removeNote(note)" (cancel)="cancelClicked = true"
                                [message]="getConfirmationMessage(note.name)" class="btn btn-outline-danger pull-right">
                                <i aria-hidden="true" class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #addNoteRef let-c="close" let-d="dismiss">
    <form [formGroup]="noteFormGroup" #plantForm="ngForm" class="add-expenses" (ngSubmit)="addNote()">
        <div class="modal-header">
            <h4 class="modal-title">Add Note</h4>
            <div class="alert alert-success" *ngIf="expenseSuccessfullyAdded" role="alert">
                <strong>Expense Saved</strong>
            </div>
            <button type="button" (click)="closeModal()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-12">
                    <label>
                        Name
                        <span class="danger">{{ formErrors.name}}</span>
                    </label>
                    <textarea class="form-control" formControlName="name"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="noteFormGroup.invalid" class="btn btn-primary pull-right" type="submit">
                <i class='fa fa-spinner fa-spin ' *ngIf="isAddPlantLoading"></i>
                Add Note
            </button>
        </div>
    </form>
</ng-template>