
<div class="pull-right mr-2" ngbDropdown placement="bottom-right" #myDrop="ngbDropdown">
  <button 
    class="btn btn-outline-primary" 
    id="dropdownManual" 
    ngbDropdownToggle>
      <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Checkout
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation()">
    <form [formGroup]="checkoutToolFormGroup" #CheckoutToolForm="ngForm" (ngSubmit)="checkoutTool()">
      <h3>Checkout: {{ tool.toolName }}</h3>
      <div class="form-group">
        <label>
          Grams: 
            <div 
              class="alert"
              [ngClass]="toolQtyInputStatus ? 'alert-' + toolQtyInputStatus : ''"
              *ngIf="toolQtyInputMessage">
              <span class="danger">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                - {{toolQtyInputMessage}}
              </span>
            </div>
        </label>
        <input 
          class="form-control" 
          min="1" 
          type="number" 
          formControlName="toolQty">
      </div>
      <div class="form-group">
        <label>
          Tender Number 
            <div 
              class="alert"
              [ngClass]="operatorInputStatus ? 'alert-' + operatorInputStatus : ''"
              *ngIf="operatorInputMessage">
                <span class="danger">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                   - {{operatorInputMessage}}
                </span>
            </div>
        </label>
        <input 
          class="form-control"
          type="number" 
          formControlName="operatorNumber">
      </div>
      <button class="btn btn-primary mt-2">
        <i class='fa fa-spinner fa-spin ' *ngIf="isCheckoutLoading$ | async"></i> 
        Save
      </button>
    </form>
  </div>
</div>