.dropdown-menu {
  width: 500px;
  padding: 15px;
}
.clickable {
  cursor: pointer;
}
.dropdown-toggle {
  color: white!important;
}


input.ng-invalid.ng-touched.ng-dirty {
  border: 1px solid red;
  &:focus {
    border: 1px solid red;
  }
  &:active {
    border: 1px solid red;
  }
}

.danger {
  color: red;
}