<div class="dropdown inline pull-right">
  <a class="btn btn-success dropdown-toggle mr-2 clickable" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Checkout
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" (click)="$event.stopPropagation()">
    <form [formGroup]="checkoutToolFormGroup" #CheckoutToolForm="ngForm" (ngSubmit)="checkoutTool()">
      <h3>Checkout: {{ tool.toolName }}</h3>
      <div class="form-group">
        <label>Qty:</label>
        <input 
          class="form-control" 
          min="1" 
          type="number" 
          formControlName="toolQty">
      </div>
      <div class="form-group">
        <label>Operator Number <span class="danger" *ngIf="operatorInputError"> - {{operatorInputError}}</span></label>
        <input 
          class="form-control"
          type="number" 
          formControlName="operatorNumber">
      </div>
      <div class="form-group">
        <label>Job Number</label>
        <input 
          class="form-control"
          type="number" 
          formControlName="jobNumber"/>
      </div>
      <button class="btn btn-primary mt-2">Save</button>
      <button class="btn btn-danger mt-2">Clear</button>
    </form>
  </div>
</div>