<div class="row">
  <div class="col-sm-3 col-xs-12" *ngFor="let job of jobs$ | async">
      <div class="card m-b-20">
          <h3 class="card-header">{{job.companyName | empty}}</h3>
          <div class="card-block">
              <h4 class="card-title">Contact: {{ job.contactName | empty }}</h4>
              <p class="card-text">
                {{ job.jobNumber | empty }}
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
  </div>
</div>