<div class="card-box">
  <loading [isLoading]="salesLoading$ | async"></loading>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p class="card-title">
        <span class="fa fa-dollar mr-2"></span>Profit -
        <ng-container *ngIf="!(salesLoading$ | async)">
          Total:
          <label class="label label-success">${{ totalExpense$ | async | number }}</label>
        </ng-container>
      </p>
      <button class="btn btn-outline-primary" (click)="addSale()">
        <span class="fa fa-plus"></span> Sell
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive scroll-wrapper mt-3">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>
                Qty/Weight
              </th>
              <th>
                Name
              </th>
              <th>
                Phone
              </th>
              <th>
                Email
              </th>
              <th>
                Cost
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales$ | async">
              <td>
                <qty-weight-value [sale]="sale"></qty-weight-value>
              </td>
              <td>
                {{ sale.name | empty }}
              </td>
              <td>
                <p class="mb-0">{{ sale.phone | empty }}</p>
              </td>
              <td>
                <p class="mb-0">{{ sale.email | empty }}</p>
              </td>
              <td>
                ${{ sale.cost | number }}
                <button class="pull-right btn btn-outline-danger" (click)="remove(sale)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="(hasNoSales$ | async) && !(salesLoading$ | async)">
              <td>There are no sales</td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-outline-primary pull-right" (click)="addSale()">
                  <span class="fa fa-plus"></span> Sell
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
