<div class="file-upload">
  <div class="file-select">
    <div class="file-select-button" id="fileName">Choose File</div>
    <div class="file-select-name" id="noFile">No file chosen...</div>
    <input type="file" name="chooseFile" id="chooseFile" (change)="initialFileUploadEvent($event)">
  </div>
</div>

<ng-template #cropModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <image-cropper format="jpg" [imageChangedEvent]="initialFileUpload" [maintainAspectRatio]="true" [aspectRatio]="4 / 4" (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <div class="col-md-6">
        <img [src]="croppedImage" style="width: 100%" />
      </div>
    </div>

    <hr>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveImage()">Save</button>
  </div>
</ng-template>
