<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col">

        <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <i class='fa fa-spinner fa-spin pull-right ti-spin' *ngIf="isJobDetailLoading$ | async"></i>
                <p class="card-title">Job Details</p>
                <p><strong>Job Name:</strong> {{ (job$ | async)?.jobName | empty }}</p>
                <p><strong>Job Number:</strong> {{ (job$ | async)?.jobNumber | empty }}</p>
                <p><strong>Job Description:</strong> {{ (job$ | async)?.jobDescription | empty }}</p>
                <p><strong>Job Status:</strong> {{ (job$ | async)?.jobStatus | jobStatusNumberToTitle | empty }}</p>
                <p><strong>Company Name:</strong> {{ (job$ | async)?.companyName | empty }}</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <ti-tool-usage-graph
                        [checkouts]="jobCheckouts$ | async">
                    </ti-tool-usage-graph>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <i class='fa fa-spinner fa-spin pull-right ti-spin' *ngIf="isJobCheckoutsLoading$ | async"></i>
            <ti-job-checkouts
                [checkouts]="jobCheckouts$ | async"
                [isCheckoutsLoading]="isJobCheckoutsLoading$ | async">
            </ti-job-checkouts>
        </div>
    </div>
</div>