<div class="shipper-wrapper">
    <div [formGroup]="receiver">
        <div class="grouping">
            <div class="form-group">
                <label>Qty Received (Weight or Count)</label>
                <input class="form-control" formControlName="qtyReceived">
            </div>
            <div class="form-group">
                <label>Unit Retail Value</label>
                <input class="form-control" formControlName="unitRetailValue">
            </div>
            <div class="form-group">
                <label>Total Retail Value</label>
                <input class="form-control" formControlName="totalRetailValue">
            </div>
        </div>
    </div>
</div>