<!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-link" [routerLink]="['/jobs']">Jobs</a></li>
      <li><a class="nav-link" [routerLink]="['/tools']">Tools</a></li>
      <li><a class="nav-link" [routerLink]="['/operators']">Operators</a></li>
      <li><a class="nav-link" [routerLink]="['/login']">Login</a></li>
      <li><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->
<div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                        <!--<i class="zmdi zmdi-group-work icon-c-logo"></i>-->
                        <img src="./assets/logo.png" class="small-logo">
                        <span>
                            <img src="./assets/long-logo.png" class="logo">
                            
                            </span></a>
                </div>
                <nav class="navbar-custom">

                    <ul class="list-inline float-right mb-0">
                        <li class="list-inline-item">
                        </li>

                    </ul>
                    <ul class="list-inline menu-left mb-0 col-4">
                        <li class="float-left">
                            <button (click)="toggleSideBar()" class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                    
                </nav>

            </div>