<div class="topbar">
    <div class="topbar-left d-flex justify-content-center align-items-center">
        <img src="./assets/logo.png" class="small-logo">
        <img src="./assets/long-logo.png" class="long-logo">
    </div>
    <nav class="navbar-custom d-flex align-items-center">
        <aside>
            <button (click)="toggleSideBar()" class="button-menu-mobile open-left waves-light waves-effect">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>  
        </aside>
        <article>
            <form [formGroup]="searchForm" class="w-100" (ngSubmit)="doSearch(null)"> 
                <ti-omni-search
                    (isSearch)="doSearch($event)"
                    [defaultOperatorSkip]="defaultOperatorSkip"
                    [defaultOperatorTake]="defaultOperatorTake"
                    [defaultToolSkip]="defaultToolSkip"
                    [defaultToolTake]="defaultToolTake">
                </ti-omni-search>
            </form>
        </article>
        <div>
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <i class="fa fa-user-o" ngbDropdownToggle aria-hidden="true"></i>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a href="account" class="dropdown-item">My Account</a>
                <a href="logout" class="dropdown-item">Logout</a>
            </div>
        </div>
        </div>

    </nav>


</div>