.navbar-brand img {
  max-width: 200px;
}

.navbar {
  border-bottom: 1px solid black;
}

.logo {
  width: 225px;
}
.small-logo {
  width: 45px;
  margin: auto;
  margin-top: 15px;
}
.search {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
}