<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-inline-flex flex-wrap justify-content-center">
        <div *ngFor="let week of weeks; let i = index">
          <button (click)="selectWeek(week)" class="btn btn-primary mb-2 btn-week" [ngClass]="{'active': week?._id === selected?._id && showTimeline}">
            Week {{ i + 1 }}
          </button>
        </div>
      </div>
      <div class="d-inline-flex flex-wrap justify-content-center">
        <div>
          <button (click)="showDeviceDashboard()" class="btn btn-primary mb-2 btn-week" [ngClass]="{'active': !showTimeline}">
            Device
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <vault-selected-plant *ngIf="showTimeline" style="width: 100%;" [selectedWeek]="selectedWeek$ | async"></vault-selected-plant>
</div>
<vault-soil-moisture *ngIf="!showTimeline" [events]="events"></vault-soil-moisture>
