<div id="wrapper" class="forced" [ngClass]="{'enlarged': isSideNavOpen$ | async}">
    <div id="search-overlay"></div>
    <ti-header [isSideBarOpen]="isSideNavOpen$ | async"></ti-header>
    <ti-side-nav [isSideBarOpen]="isSideNavOpen$ | async">
    </ti-side-nav>
    <div class="content-page">
        
        <div class="content">
            <div class="content-blocker" *ngIf="isUnderConstruction$ | async">
                <div class="isa_warning">
                    <i class="fa fa-warning"></i>
                    Under Construction... Come back for something awesomes
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">{{headerText$ | async}}</h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <ti-toaster></ti-toaster>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="app-wrapper" [ngClass]="{'side-nav-open': isSideNavOpen$ | async}">
</div>