.app-wrapper {
  margin-left: 50px;
}

.app-wrapper.side-nav-open {
  margin-left: 250px;
}

a, button {
  cursor: pointer;
}

.content {
    position: relative;
    height: auto;
}

.content-blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 601;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 1px;
}

.isa_warning {
    width: 500px;
    margin: auto;
    margin-top: 43px;
}

.btn-test {
    margin: auto;
    display: block;
}

.is-beta-block {
  position: absolute;
  right: 17px;
  z-index: 1000;
  top: -35px;
  padding-bottom: 10px;
}