.arrow-wrapper {
    .col {
        background-color: green;
    }
}


#progressbar {
    position: relative;
    z-index: 0;
	overflow: hidden;
	/*CSS counters to number the steps*/
    counter-reset: step;
    background: #36a834;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 75px;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	width: 33.33%;
	float: left;
    position: relative;
    text-align: center;
    cursor: pointer;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	line-height: 20px;
	display: block;
	font-size: 10px;
  color: #fff;
  background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
  background: #ffffff;
  color: black;
  border: 1px solid black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #ffffff;
  color: black;
  border: 1px solid black;;
}

