<ul id="progressbar" class="d-flex align-items-center">
    <li [ngClass]="{'active': addProduct}" (click)="select('product')">Add product</li>
    <li [ngClass]="{'active': addReceiver}" (click)="select('receiver')">Add receiver</li>
    <li [ngClass]="{'active': receiverInformation}" (click)="select('receiver-info')">Receiver Info</li>
</ul>
<div class="d-flex justify-content-center">
    <form [formGroup]="shippingManifest" class="col col-6" (ngSubmit)="sellProduct()">
        <vault-product [shipper]="shippingManifest.controls.product" [hidden]="!addProduct"></vault-product>
        <add-receiver 
            [resetFormOnSubmit]="false" 
            [receiverForm]="receiverFormGroup" 
            [hidden]="!addReceiver">
        </add-receiver>
        <vault-receiver [receiver]="shippingManifest.controls.receiver" [hidden]="!receiverInformation"></vault-receiver>
    </form>
</div>