<div class="d-flex justify-content-center">
    <div class="btn-group split">
        <button type="button" class="btn btn-lg btn-primary" (click)="addShippedProduct()">Sell Product</button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="addShipper()">Add Shipper</button>
                <button class="dropdown-item" (click)="addReceiver()">Add Receiver</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <form [formGroup]="shippingManifest" class="col-md-6">
        <ti-shipper-information 
            [shipperInformation]="shippingManifest.controls.shipperInformation" 
            *ngIf="showShipperInformation"
            (close)="closeShipper()">
        </ti-shipper-information>
        <ti-receiver-information 
            [receiverInformation]="shippingManifest.controls.receiverInformation"
            *ngIf="showReceiverInformation"
            (close)="closeReceiver()">
        </ti-receiver-information>
        <ti-distributor-information 
            [distributorInformation]="shippingManifest.controls.distributorInformation"
            *ngIf="showDistributorInformation"
            (close)="closeDistributor()">
        </ti-distributor-information>
        <vault-product-shipped-details
            [productShippedDetails]="shippingManifest.controls.productShippedDetails"
            *ngIf="showProductShippedDetails"
            (close)="closeProductShippedInformation()">
        </vault-product-shipped-details>
    </form>
</div>