<div class="row">
  <!-- <div class="col-md-6">
    <plant-detail [plantDetail]="plantDetail$ | async"></plant-detail>
  </div> -->
  <div class="col-md-6">
    <transaction [plantNumber]="plantNumber$ | async"></transaction>
  </div>
  <div class="col-md-6">
    <plant-expenses [plantNumber]="plantNumber$ | async"></plant-expenses>
  </div>
</div>

<ng-template #addExpenseRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Job</h4>
    <div class="alert alert-success" *ngIf="jobSuccessfullyAdded" role="alert">
      <strong>Job Saved</strong>
    </div>
    <button type="button" (click)="closeModal()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group">
        <label for="">Name</label>
        <input class="form-control col-12">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="">Expense</label>
        <input class="form-control col-12">
      </div>
    </div>
  </div>
</ng-template>
