 <form [formGroup]="activePlantFormGroup" (ngSubmit)="updateJob(activePlantFormGroup)">
 <div class="modal-header">
    <h4 class="modal-title">Update: {{activePlant.companyName}}</h4>
    <button type="button" (click)="closeModal()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Plant Name</label>
          <input class="form-control" formControlName="plantName" placeholder="Plant Name">          
        </div>
        <div class="form-group col-md-6">
          <label>Plant Number</label>
          <input class="form-control" formControlName="plantNumber" placeholder="Plant Number">          
        </div>
        <div class="form-group col-md-6">
          <label>Plant Description</label>
          <input class="form-control" formControlName="plantDescription" placeholder="Plant Description">          
        </div>
        <div class="form-group col-md-6">
          <label>Plant Status</label>
          <select class="form-control" placeholder="Status" formControlName="plantStatus">
              <option>Select Status</option>
              <option value="0">Germinating</option>
              <option value="1">Seedling</option>
              <option value="2">Vegetative</option>
              <option value="3">Flowering</option>
              <option value="4">Drying/Curying</option>
              <option value="5">Done</option>
          </select>
        </div>
        <div class="form-group col-md-6" hidden>
            <input formControlName="_id">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary save pull-right" type="submit">Save</button>
  </div>
</form>

