<div class="container-fluid">
    <form [formGroup]="omniSearchForm" class="d-flex justify-content-center">
        <div class="select">
            <select formControlName="category" id="slct">
                <option value="plants">Plants</option>
                <option value="shippers">Shippers</option>
                <option value="receivers">Receivers</option>
            </select>
        </div>
        <input class="form-control col-md-4" formControlName="search">
        <button type="submit" role="button" class="btn btn-outline-success btn-search">
            <i aria-hidden="true" class="fa fa-search"></i>
            Search
        </button>
    </form>
</div>