.card-block {
    padding: 10px;
}

.btn-outline-primary {
    position: absolute;
    right: 20px;
    top: 10px;
}

.display-btn {
    right: 151px;
}

.display-drop {
    label {
        cursor: pointer;
    }
}

