<form [formGroup]="saleForm" (ngSubmit)="sellProduct()">
  <div class="d-flex justify-content-end" formGroupName="data">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="isQuantity">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="true"> Qty
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false"> Weight
      </label>
    </div>
  </div>
  <div class="form-wrapper">
    <div class="checkbox include-contact checkbox-custom m-t-40" formGroupName="metaData">
      <input id="drop-remove" type="checkbox" formControlName="includeContact">
      <label for="drop-remove">
        Include contact
      </label>
    </div>
    <div formGroupName="data">
      <div class="form-group">
        <div class="d-flex align-items-center mb-2">
          <label class="mr-2">{{ unitLabel }}</label>
          <select class="form-control col-sm-3 " *ngIf="isWeight" formControlName="unit">
            <option [value]="Unit.grams">(Grams)</option>
            <option [value]="Unit.pounds">(Lbs)</option>
            <option [value]="Unit.kilograms">(Kgs)</option>
          </select>
        </div>
        <div class="input-group" *ngIf="isWeight">
          <input id="weight" type="number" min="0" formControlName="weight" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">{{ unitCode | unit }}</span>
          </div>
        </div>
        <input id="quantity" formControlName="quantity" *ngIf="isQuantity" class="form-control">
        <div *ngIf="weight.invalid && (weight.touched || weight.dirty)" class="alert alert-danger mt-1">
          <p *ngIf="weight.errors.required" class="mb-0">Weight is required</p>
        </div>
        <div *ngIf="quantity.invalid && (quantity.touched || quantity.dirty)" class="alert alert-danger mt-1">
          <p *ngIf="quantity.errors.required" class="mb-0">Quantity is required</p>
        </div>
      </div>
      <div class="form-group">
        <label>Cost</label>
        <input formControlName="cost" [textMask]="{mask: dollarAndCents}" class="form-control">
        <div *ngIf="cost.invalid && (cost.touched || cost.dirty)" class="alert alert-danger mt-1">
          <p *ngIf="cost.errors.required" class="mb-0">Cost is required</p>
        </div>
      </div>
      <div *ngIf="includeContact" formGroupName="contact">
        <hr>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" formControlName="name">
          <div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert alert-danger mt-1">
            <p *ngIf="name.errors.required" class="mb-0">Name is required</p>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="email">
          <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger mt-1">
            <p *ngIf="email.errors.required" class="mb-0">Email is required</p>
          </div>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input class="form-control" formControlName="phone">
          <div *ngIf="phone.invalid && (phone.touched || phone.dirty)" class="alert alert-danger mt-1">
            <p *ngIf="phone.errors.required" class="mb-0">Phone is required</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [hidden]="!showSellButton">
    <i class='fa fa-spinner fa-spin' *ngIf="sellingPlantLoading$ | async"></i>
    Submit
  </button>
</form>
