
<form [formGroup]="jobFormGroup" (ngSubmit)="addJob(jobFormGroup)">
    <div class="form-group">
        <label>Company Name</label>
        <input class="form-control" formControlName="companyName" placeholder="Company Name">
    </div>
    <div class="form-group">
        <label>Contact Name</label>
        <input class="form-control" formControlName="contactName" placeholder="Contact Name">
    </div>
    <div class="form-group">
        <label>Contact Phone Number</label>
        <input class="form-control" formControlName="contactPhoneNumber" placeholder="Contact Phone Number">
    </div>
    <div class="form-group">
        <label>Contact Email</label>
        <input class="form-control" formControlName="contactEmail" placeholder="Contact Email">
    </div>
    <div class="form-group">
        <label>Job Name</label>
        <input class="form-control" formControlName="jobName" placeholder="Job Name">
    </div>
    <div class="form-group">
        <label>Job Number</label>
        <input class="form-control" formControlName="jobNumber" placeholder="Job Number">
    </div>
    <div class="form-group">
        <label>Job Description</label>
        <textarea class="form-control" formControlName="jobDescription" placeholder="Job Description">

        </textarea>
    </div>
    <div class="form-group">
        <label>Job Status</label>
        <select class="form-control" formControlName="jobStatus">
            <option></option>
            <option value="0">Staging</option>
            <option value="1">Machining</option>
            <option value="2">Quality</option>
            <option value="3">Shipping</option>
            <option value="4">Complete</option>
            <option value="5">Waiting</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Add Job</button>
</form>
