.add-job {
  .ng-touched {
    &.ng-invalid {
      border: 1px solid red!important;
    }
  } 
  .danger {
    color: red;
    position: absolute;
    top: 32px;
    left: 23px;
    font-size: 11px;
  }
  .form-group {
    position: relative;
  }
}