<form [formGroup]="jobFormGroup" (ngSubmit)="addJob(jobFormGroup)">
<button class="btn btn-primary save pull-right" type="submit">S</button>
<thead class="thead-inverse">
    <tr>
        <th>
            <input class="form-control" formControlName="companyName" placeholder="Company Name">
        </th>
        <th>
            <input class="form-control" formControlName="contactName" placeholder="Contact Name">
        </th>
        <th>
            <input class="form-control" formControlName="contactPhoneNumber" placeholder="Contact Phone Number">
        </th>
        <th>
            <input class="form-control" formControlName="contactEmail" placeholder="Contact Email">
        </th>
        <th>
            <input class="form-control" formControlName="jobName" placeholder="Job Name">
        </th>
        <th>
            <input class="form-control" formControlName="jobNumber" placeholder="Job Number">
        </th>
        <th>
            <input class="form-control" formControlName="jobDescription" placeholder="Description">
        </th>
        <th>
            <select class="form-control" placeholder="Status" formControlName="jobStatus">
                <option></option>
                <option value="0">Staging</option>
                <option value="1">Machining</option>
                <option value="2">Quality</option>
                <option value="3">Shipping</option>
                <option value="4">Complete</option>
                <option value="5">Waiting</option>
            </select>
        </th>
    </tr>
</thead>
</form>
