<form [formGroup]="jobFormGroup" #jobForm="ngForm" class="add-job" (ngSubmit)="addJob(jobFormGroup)">
    <div class="modal-header">
        <h4 class="modal-title">Add Job</h4>
        <div class="alert alert-success" *ngIf="jobSuccessfullyAdded" role="alert">
            <strong>Job Saved</strong>
        </div>
        <button type="button" (click)="closeModal()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Company Name <span class="danger">{{ formErrors.companyName}}</span></label>
                <input class="form-control" formControlName="companyName">
            </div>

            <div class="form-group col-md-6">
                <label>Contact Name <span class="danger">{{ formErrors.contactName}}</span></label>
                <input class="form-control" formControlName="contactName">
            </div>

            <div class="form-group col-md-6">
                <label>Contact Phone Number <span class="danger">{{ formErrors.contactPhoneNumber}}</span></label>
                <input class="form-control" formControlName="contactPhoneNumber">
            </div>

            <div class="form-group col-md-6">
                <label>Contact Email <span class="danger">{{ formErrors.contactEmail}}</span></label>
                <input class="form-control" formControlName="contactEmail">
            </div>

            <div class="form-group col-md-6">
                <label>Job Number <span class="danger">{{ formErrors.jobNumber}}</span></label>
                <input class="form-control" formControlName="jobNumber">
            </div>
            <div class="form-group col-md-6">
                <label>Job Name <span class="danger">{{ formErrors.jobName}}</span></label>
                <input class="form-control" formControlName="jobName">
            </div>
            <div class="form-group col-md-6">
                <label>Job Description <span class="danger">{{ formErrors.jobDescription}}</span></label>
                <input class="form-control" formControlName="jobDescription">
            </div>
            <div class="form-group col-md-6">
                <label>Job Status</label>
                <select class="form-control" placeholder="Status" formControlName="jobStatus">
                    <option>Select Status</option>
                    <option value="0">Staging</option>
                    <option value="1">Machining</option>
                    <option value="2">Quality</option>
                    <option value="3">Shipping</option>
                    <option value="4">Complete</option>
                    <option value="5">Waiting</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="jobFormGroup.invalid" class="btn btn-primary pull-right" type="submit">Add Job</button>
    </div>
</form>