<form [formGroup]="operatorFormGroup" #operatorForm="ngForm" class="add-operator" (ngSubmit)="addoperator(operatorFormGroup)">
    <div class="modal-header">
        <h4 class="modal-title">Add operator</h4>
        <div class="alert alert-success" *ngIf="operatorSuccessfullyAdded" role="alert">
            <strong>operator Saved</strong>
        </div>
        <button type="button" (click)="closeModal()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Operator Name</label>
                <input class="form-control" formControlName="operatorName">
            </div>

            <div class="form-group col-md-6">
                <label>Operator Number </label>
                <input class="form-control" formControlName="operatorNumber">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="operatorFormGroup.invalid" class="btn btn-primary pull-right" type="submit">Add operator</button>
    </div>
</form>