<div class="row">
  <div class="col">
    <loading [isLoading]="isPlantsLoading$ | async"></loading>
    <div class="row mt-3">
      <div class="col-md-12">
        <button class="btn btn-outline-primary mb-2 pull-right" (click)="addPlant()">
          <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Plant
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="!(plants$ | async)?.length === false">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Plant Name</th>
                <th>Plant Number</th>
                <th class="w-25">Plant Description</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plant of plants$ | async">
                <td>
                  <img [src]="plant._id | plantProfile" class="plant-thumbnail img-thumbnail rounded-circle"> {{ plant.plantName | empty }}</td>
                <td>{{ plant.plantNumber | empty }}</td>
                <td>{{ plant.plantDescription | empty }}</td>
                <td>
                  <ti-job-status-chip [jobStatus]="plant.plantStatus">
                  </ti-job-status-chip>
                </td>
                <td>
                  <button class="btn btn-outline-danger pull-right" (click)="removePlant(plant)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-outline-primary pull-right mr-2" (click)="openUpdatePlantModal(plant._id)">
                    <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Edit
                  </button>
                  <button class="btn btn-outline-primary pull-right mr-2" [routerLink]="['/plants', plant._id]">
                    <i class="fa fa-usd mr-2" aria-hidden="true"></i>Profit/Loss
                  </button>
                  <button class="btn btn-outline-primary pull-right mr-2" [routerLink]="['/details', plant._id]">
                    <i class="fa fa-eye mr-2" aria-hidden="true"></i>Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button (click)="nextPage()" class="btn btn-outline-primary next pull-right" [disabled]="!(morePlants$ | async)">
              Next Page
            </button>
            <button (click)="previousPage()" class="btn btn-outline-primary pull-right mr-2" [disabled]="isLoading">
              Previous Page
            </button>
          </div>
        </div>
      </div>
    </div>
    <ti-alert [status]="alert.info" message="There are no plants" [showAlert]="!hasPlants" [isLoading]="isPlantsLoading$ | async">
    </ti-alert>
    <ng-template #updatePlantRef let-c="close" let-d="dismiss">
      <update-plant [activePlant]="activePlant$ | async" (closeUpdateModal)="closeUpdatePlantModal($event)">
      </update-plant>
    </ng-template>
    <ng-template #addPlantRef let-c="close" let-d="dismiss">
      <add-plant (closeAddPlantModal)="closeAddPlantModal()" [skip]="skip" [take]="take">
      </add-plant>
    </ng-template>
  </div>
</div>
