<div class="row">
  <div class="col-md-6">
    <p>
      <label>Start:</label> {{ week?.start | date | empty}}</p>
    <p>
      <label>End:</label> {{ week?.end | date | empty}}</p>
    <p>
      <label>Air Humidity:</label> {{ week?.airHumidity | empty}}</p>
    <p>
      <label>Day Air Temperature:</label> {{ week?.dayAirTemperature | empty}}</p>
    <p>
      <label>Height:</label> {{ week?.height | empty}}</p>
  </div>
  <div class="col-md-6">
    <p>
      <label>Lamp to plant distance:</label> {{ week?.lampToPlantDistance | empty}}</p>
    <p>
      <label>Light Schedule:</label> {{ week?.lightSchedule | empty}}</p>
    <p>
      <label>Night aire temperature:</label> {{ week?.nightAirTemperature | empty}}</p>
    <p>
      <label>PH:</label> {{ week?.ph | empty}}</p>
    <p>
      <label>Smell:</label> {{ week?.smell | empty}}</p>
    <p>
      <label>Soil Temperature:</label> {{ week?.soilTemperature | empty}}</p>
  </div>
</div>
