body.login {
  background-image: url('guy-holding-plant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .login-wrapper {
    background-color: rgba(57, 57, 57, 0.9);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    .page-header {
      margin-top: -10px;
    }
  }
  .btn-sign-up {
    margin-top: 10px;
  }
}

.alert {
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 0;
  .fa {
    margin-right: 8px;
  }
}