<div class="container-fluid">
  <div class="row" *ngIf="hasEvents">
    <div class="col-md-6">
      <div style="display: block;">
        <h6 class="text-muted text-uppercase m-b-20 text-center">Soil Moisture</h6>
        <canvas
          baseChart
          width="400"
          height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>
    <div class="col-md-6" hidden>
      <form [formGroup]="moistureFilters">
        <label> Sampling</label>
        <input type="text" class="form-control" placeholder="Sampling" min="0" formControlName="sampling" type="number" />
      </form>
    </div>
  </div>
</div>
