<div class="row">
    <div class="col-md-12">
        <h3 class="pull-left">operators</h3>
        <button class="btn btn-primary pull-right" (click)="addOperator()">Add operator</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <ti-loading [isLoading]="isLoading"></ti-loading>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Operator Name</th>
                                <th>Operator Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let operator of operators$ | async" >
                                <td>{{ operator.operatorName | empty }}</td>
                                <td>{{ operator.operatorNumber | empty }}</td>
                                <td>
                                    <button class="btn btn-danger pull-right" (click)="removeOperator(operator)">Remove</button>

                                    <button class="btn btn-primary pull-right mr-2" (click)="openUpdateOperatorModal(operator._id)">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="previousPage()" *ngIf="skip !== 0" class="btn btn-info mr-auto" [disabled]="isLoading">
                                Previous Page
                        </button>
                            <button (click)="nextPage()" *ngIf="more" class="btn btn-info ml-auto next" [disabled]="isLoading">
                                Next Page
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #updateOperatorRef let-c="close" let-d="dismiss">
    <ti-update-operator 
        [activeOperator]="activeOperator$" 
        (closeUpdateModal)="closeUpdateOperatorModal($event)" 
        (isLoading)="isTiUpdateOperatorLoading($event)"
        [skip]="skip" 
        [take]="take">
    </ti-update-operator>
</ng-template>
<ng-template #addOperatorRef let-c="close" let-d="dismiss">
    <add-operator 
        (closeAddOperatorModal)="closeAddOperatorModal($event)" 
        [skip]="skip" 
        [take]="take">
    </add-operator>
</ng-template>