
.card {
  position: relative;
}
.next {
  float: right;
}

.display-dropdown {
  padding: 20px;
}

.dropdown-menu {
  label {
    cursor: pointer;
  }
}

.header {
    font-weight: bold;
}

.flex-table-row {
    display: flex;

    &:nth-child(odd) {
        background-color: yellow;
    }

    .actions {
        margin-left: auto;
    }
}