.ti-toast {
  position: fixed;
  z-index: 2000;
  right: 0;
  top: 75px;
  overflow: hidden;
  margin: 0 0 6px;
  cursor: pointer;
  padding: 15px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  opacity: .9;
  color: #FFFFFF;
  &:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
  }
}

.success {
  background-color: #51A351;
}