<div class="pull-right mr-2" ngbDropdown placement="bottom-right" #myDrop="ngbDropdown">
  <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownToggle>Add Qty</button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation()">
    <div class="form-group">
      <label>Add qty to: {{ tool.toolName }}</label>
      <input [(ngModel)]="qtyToAdd" class="form-control" min="1" type="number">
      <button (click)="saveQty()" class="btn btn-primary mt-2">Save</button>
    </div>
  </div>
</div>