<div class="pull-right mr-2" ngbDropdown placement="bottom-right" #myDrop="ngbDropdown">
  <button 
    class="btn btn-outline-primary" 
    id="dropdownManual" 
    ngbDropdownToggle>
      <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Qty
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual" (click)="$event.stopPropagation()">
    <div class="form-group">
      <form [formGroup]="addToolQtyForm" (ngSubmit)="saveQty()">
        <label>Qty</label>
        <input formControlName="qtyToAdd" class="form-control" min="1" type="number">
        <button type="submit" class="btn btn-primary mt-2">
        <i class='fa fa-spinner fa-spin ' *ngIf="isAddToolQtyLoading"></i> 
        Save
      </button>
      </form>
    </div>
  </div>
</div>