<div class="card m-b-20" ngClass="{{ status }}">
  <h3 class="card-header">
    {{plant.plantName | empty}}
  </h3>
  <div class="card-block">
    <h4 class="card-title">Plant Number: {{ plant.plantNumber | empty }}</h4>
    <p class="card-text">
      <ti-job-status-chip [jobStatus]="plant.plantStatus">
      </ti-job-status-chip>
      <button class="btn btn-outline-primary pull-right mr-2" routerLink="/plants/{{plant.plantNumber}}">
        <i class="fa fa-eye mr-2" aria-hidden="true"></i>View
      </button>
    </p>
  </div>
</div>
